

    .all-together {
            background-color: #484848;
            padding: 20px;
            border-radius: 25px;
            box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
        }

        body{
            background-color: rgb(0, 0, 0);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
         }

            .display {
            background-color: rgb(30, 30, 30);
            color: white;
            font-size: 40px;
            text-align: right;
            padding: 15px 25px;
            border-radius: 15px;
            margin: 20px auto;
            width: 270px;
            }


        .row-1,.row-2,.row-3,.row-4,.row-5{
              display: flex;
            justify-content: center;
        }

            .buttons-violet{
                background-color: grey;
                 height: 60px;
                font-size: 30px;
                border: none;
                border-radius: 400px;
                color : white;
                /* padding: 10px; */
                padding-left: 20px;
                padding-right: 20px;
                margin-right: 10px;
                margin-bottom: 10px;
            }

            .buttons-violet:hover{
                 opacity: 0.8;
                transform: scale(1.05);
                transition: 0.2s;
                cursor: pointer;
            }
            .buttons-violet-dot:hover{
                cursor: pointer;
                opacity: 0.8;
                transform: scale(1.05);
                transition: 0.2s;
            }
            .buttons-yellow:hover{
                cursor: pointer;
                opacity: 0.8;
                transform: scale(1.05);
                transition: 0.2s;
            }
            .buttons-yellow-plus:hover{
                cursor: pointer;
                opacity: 0.8;
                transform: scale(1.05);
                transition: 0.2s;
            }


            .buttons-yellow{
                background-color: rgb(255, 174, 0);
                 height: 60px;
                font-size: 30px;
                border: none;
                border-radius: 60px;
                color : white;
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 15px;
                padding-bottom: 20px;
            }

            .buttons-violet-dot{
             background-color: grey;
                 height: 60px;
                font-size: 30px;
                border: none;
                border-radius: 400px;
                color : white;
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 20px;
                padding-top: 20px;
                margin-right: 10px;
                margin-bottom: 10px;
            } 

            .buttons-yellow-plus{
                 background-color: rgb(255, 174, 0);
                 height: 60px;
                font-size: 30px;
                border: none;
                border-radius: 60px;
                color : white;
                padding-left: 21px;
                padding-right: 21px;
                padding-top: 15px;
                padding-bottom: 20px;
            }


